@use './variables.scss' as var;

@mixin icon($border: 0px) {
  padding: 10px 15px;
  border-right: $border solid #847e7e;
  color: #807d7d;
  font-size: 18px!important;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

@include var.main {
  #form-container {
    margin: 100px 0px;
    @include var.below(var.$sm) {
      #form {
        border: 0!important;
      }
    }
    #form {
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px dashed white;
      border-radius: 5px;
      border-left: 0;
      border-right: 0;
      .form-title {
        color: white;
        margin: 20px;
        letter-spacing: 5px;
        font-size: 36px;
      }
      .field-container  {
        width: 400px;
        display: flex;
        margin: 20px 0px;
        background: #e0e0e0;
        padding: 5px 0px;
        .icon {
          @include icon(1px);
        }
        .icon-p {
          @include icon(0px);
        }
        .field {
          padding: 0px 0px 0px 10px;
          outline: 0;
          background: #e0e0e0;
          border: 0;
          color: #807d7d;
          flex: 1;
        }
      }
      #register {
        padding: 10px 15px;
        border: 0;
        background: #f55454;
        color: white;
        margin-top: 30px;
      }
    }
  }
}